# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store

# Env
.env
.env.*

# Logs
logs/
*.log

# Build / Coverage
coverage/
dist/
build/
.tmp/

# Editor
.vscode/
.idea/
*.swp

# Prisma artifacts (no longer used but in case)
.prisma/
